{{define "nav"}}
<nav>
    <div>
        <span><a href='/'>Library</a></span>
        <span><a href='/about'>About</a></span>
        {{if .IsAuthenticated}}
        <span><a href='/user/history'>History</a></span>
        {{end}}
    </div>
    <div>
    <form id="searchForm" action="/search" method="GET" class="search-form"> 
        <input type="text" name="keyword" placeholder="Search by title, auther, genre..." value="{{.BookList.SearchKeyWords}}" required>
        <button type="submit">Search</button>
    </form>
    </div>
    <div>
        {{if .IsAuthenticated}}
            <span>Hi! <a href='/user/profile'>{{.UserName}}</a></span>
            <span>
            <form action='/user/logout' method='POST'>
                <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
                <button class='logout_button'>Logout</button>
            </form>
            </span>
        {{else}}
            <span><a href='/user/signup'>Signup</a></span>
            <span><a href='/user/login'>Login</a></span>
        {{end}}
    </div>
</nav>
{{end}}