{{define "title"}}Search{{end}}

{{define "main"}}
    <form id="searchForm" action="/search" method="GET" class="search-form"> 
        <input type="text" name="keyword" placeholder="Search by title, auther, genre..." value="{{.BookList.SearchKeyWords}}" required>
        <button type="submit">Search</button>
    </form>

    <h3>Search Result</h3>
        {{if .BookList.Error}}
            <div class='error'>{{.BookList.Error}}</div>
        {{else}}
        <table class="book-list-table">
            <tr>
                <th></th>
                <th>Title</th>
                <th>Authors</th>
            </tr>
            {{range .BookList.Books}}
                <tr>
                    <td>
                    {{if .LocalImageURL}}
                    <label class="cover_image">
                        <img src="{{.LocalImageURL}}" alt="Cover Image">
                    </label>
                    {{else}}
                    <label class="cover_image">
                        <img src="/static/img/no_cover.png" alt="No cover available">
                    </label>
                    {{end}}
                    </td>
                    <td><a href='/book/view/{{.GutenID}}'>{{.Title}}</a></td>
                    <td>{{range .Authors}}{{.Name}}{{end}}</td>
                </tr>
            {{end}}
        </table>
    {{end}}
{{end}}